---
import MainHead from '../components/MainHead.astro';
import Footer from '../components/Footer.astro';
import Nav from '../components/Nav.astro';
---

<html lang="en">
	<head>
		<MainHead title="About | Matthew Ching" description="About Matthew Ching" />
		<style>
			.heroImg {
				max-height: 24rem;
				object-fit: cover;
				overflow: hidden;
			}

			.heroImg img {
				width: 100%;
			}

			.bio {
				font-size: var(--f-u1);
				line-height: 2;
				margin-top: 4em;
			}

			.wrapper.bio {
				max-width: 50em;
			}
		</style>
	</head>
	<body>
		<Nav />
		<div class="wrapper">
			<h1>About Matt</h1>
			<div class="heroImg">
				<img
					width="1400"
					height="350"
					src="../../assets/tobi-cello.jpg"
				/>
			</div>
			<div class="bio wrapper">
				<p>
					I have been studying software development since September 2021. I initially started
					with Python to learn programming basics before transitioning to full stack web
					development in April 2022. Since then, I have rapidly picked up modern functional
					programming with React and explored innovative JavaScript technologies such as Next.js,
					Astro, and Prisma. 
				</p>
				<br/>
				<p>
					I currently reside in Houston, Texas with two adorable shih-tzus, Odin and Tobi (seen above!). I am an avid
					rock climber, amateur chef, and cellist of 17 years, and I enjoy travelling for outdoor recreation and live concerts.
				</p>
			</div>
		</div>
		<Footer />
	</body>
</html>
