---
import MainHead from '../components/MainHead.astro';
import Footer from '../components/Footer.astro';
import Nav from '../components/Nav.astro';
---

<html lang="en">
	<head>
		<MainHead title="About | Matthew Ching" description="About Matthew Ching" />
		<style>
			.heroImg {
				max-height: 24rem;
				object-fit: cover;
				overflow: hidden;
			}

			.heroImg img {
				width: 100%;
			}

			.bio {
				font-size: var(--f-u1);
				line-height: 2;
				margin-top: 4em;
			}

			.wrapper.bio {
				max-width: 50em;
			}
		</style>
	</head>
	<body>
		<Nav />
		<div class="wrapper">
			<h1>About Matt</h1>
			<div class="heroImg">
				<img
					width="1400"
					height="350"
					src="../../assets/tobi-cello.jpg"
				/>
			</div>
			<div class="bio wrapper">
				<p>
					Hi, I'm Matt! I am a full stack developer with experience in JavaScript and .NET frameworks. I currently reside in Houston, Texas with two adorable shih-tzus,
                    Odin and Tobi (pictured above!). I am an avid rock climber, amateur chef, and cellist of 17 years, and I enjoy travelling for outdoor recreation and live concerts. 
					Most importantly, I am passionate about programming and always looking for opportunities to learn and grow as a software developer.
				</p>
				<br/>
				<p>
                    Thanks for taking the time to check out my portfolio website. While it's admittedly still a work-in-progress, it has served well for exploring the Astro framework and its really unique capabilities,
                    including external component imports (from React, Angular, Vue) and native static-site generation. I hope to expand my portfolio in the near future to explore newer technologies,
                    particularly those involving Next.js 13 and its ongoing move toward serverless computing, so please drop by again soon! 
				</p>
			</div>
		</div>
		<Footer />
	</body>
</html>
