---
const { title, postedOn } = Astro.props.post.frontmatter;
const { url } = Astro.props.post;
---

<a href={url}>
    <div class="row">
	    <div class="post title">{title}</div>
	    <div class="post date">{postedOn}</div>
    </div>
</a>

<style>
    .row {
        padding: 2rem;
        width: 100%;
        height: 3rem;
        display: grid;
        grid-template-columns: 5fr 1fr;
        align-items: center;
        border-width: 3px;
        border-style: solid;
        border-image: 
            linear-gradient(
            to right, 
            white 30%,
            lightgrey, 
            white 70%
        ) 100% 0;
    }

    .row:hover {
        border-width: 3px;
        border-style: solid;
        border-image: 
            linear-gradient(
            to right, 
            white,
            grey, 
            white
        ) 100% 0;
    }

    .post {
        word-wrap: none;
        font-size: 2rem;
        font-weight: 500;
        color: black;
    }
</style>
